
.simulador{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.grafica{
    grid-column: 3 / span 3;
}

.controles{ 
    grid-column: 1 / span 2;
}


.grupo-controles{
    padding: 10px 0 0 0;
}

.botones{
    width: 100%;
    padding: 10px;
}

#tipos-inversion-horizontal{
    display: none;
}

.list-group-item-action{
    cursor: pointer;
}

#myChart{

    display: block;
    box-sizing: border-box; 
    width: 600px;
    height: 250px;
}

#div-tipos-inversiones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media only screen and (max-width: 768px){
    #div-tipos-inversiones{
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .btn-outline-primary{
        flex-basis: 100%;
    }
    .simulador{
        grid-template-rows: repeat(8, 1fr);
    }
    .grafica{
        grid-row: 1 / span 4;
        grid-column: 1/span 5;
    }
    .controles{
        grid-row: 5 / span 4;
        grid-column: 1/span 5;
    }



    #tipos-inversion{
        /*display: none;*/
        display: flex;
        justify-content: space-around;
        list-style-type: none;
    }

    li a {
        display: inline-block;
    }

    #tipos-inversion-horizontal{
        display: flex;
        width: 100%;
    }

    .grupo-controles{
        padding: 10px 0 0 0;
    }

    .botones{
        padding: 20px 0 0 0;
    }


    li{
        width: 100%;
    }
}

@media only screen and (max-width: 300px){
    #div-tipos-inversiones{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .btn-outline-primary{
        flex-basis: 0;
    }
}